:root {
  --fg-primary: rgba(0, 0, 0, 0.76);
  --fg-secondary: rgba(0, 0, 0, 0.64);
  --fg-tertiary: rgba(0, 0, 0, 0.48);
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-geist-mono), monospace;
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}
